.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.jumbo {
  /* src 폴더는 압축이 되지만 편함*/
  background-color: white;
  background-image: url("./background.jpeg");
  background-size: cover;
}
